APPLICATION_PORT=8000

TELEGRAM_URL_BASE="https://api.telegram.org"
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ADMIN_USER_ID=


DEBUG=false

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE_NAME=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_URL="mysql://${MYSQL_USERNAME}:${MYSQL_PASSWORD}@db:${MYSQL_PORT}/${MYSQL_DATABASE_NAME}"

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_URL="amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:${RABBITMQ_PORT}"

REDIS_PORT=
REDIS_URL="redis://redis:${REDIS_PORT}"
REDIS_SECRET_KEY=""

REVERSABLE_CIPHER_SECRET_KEY=

GITHUB_WEBHOOK_SECRET=
GITHUB_BASE="https://github.com"
GITHUB_API_BASE="https://api.github.com"
GITHUB_REPOSITORY=
GITHUB_REPOSITORY_OWNER=
GITHUB_OAUTH_PATHNAME="/login/oauth/authorize"
GITHUB_OAUTH_CLIENT_SCOPE=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
