version: "3.9"

services:
  rust-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/usr/src/app             # монтируем код
      - cargo-target:/usr/src/app/target  # кэш сборки
    ports:
      - "${APPLICATION_PORT}:${APPLICATION_PORT}"
    stdin_open: true
    tty: true
    depends_on:
      - db
      - rabbitmq

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "${DATABASE_PORT}:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "${RABBITMQ_PORT}:5672"        # основной порт AMQP
      - "${RABBITMQ_MANAGEMENT_PORT}:15672" # веб-менеджмент
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

volumes:
  cargo-target:
  mysql-data:
  rabbitmq-data:
